class PROJECT_env_cfg extends uvm_object;
  `uvm_object_utils(PROJECT_env_cfg)

  virtual PROJECT_dut_if dut_vif;
  bit protocol_is_active = 1'b1;
  bit enable_scoreboard = 1'b1;
  bit enable_coverage = 1'b1;
  bit enable_ral = 1'b0;
  int unsigned seed_count = 1;

  function new(string name = "PROJECT_env_cfg");
    super.new(name);
  endfunction
endclass
