---
doc_type: application_guide
generator: hdlflow.docgen.generate_application_doc
---
# Application Guide Template
<!-- HDL-APP-DOC START -->
Integration View
Interfaces
Register / Config
Operation Sequence
<!-- HDL-APP-DOC END -->
