---
doc_type: microarchitecture_specification
generator: hdlflow.docgen.generate_uarch_doc
---
# Microarchitecture Specification Template
<!-- HDL-UARCH-DOC START -->
Module Topology
Interfaces
Clocks and Resets
Traceability
<!-- HDL-UARCH-DOC END -->
